.post {
    .image {
        height: 400px;
    }
    .caption {
        margin-left: 3em;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .tag {
        text-align: right;
        margin-top: 2em;
        margin-right: 0.5em;
        margin-bottom: 1em;
    }
    .moment {
        text-align: right;
        margin-right: 1em;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .buttons {
        text-align: right;
        margin-right: 1em;
        margin-bottom: 1em;
    }
}
